In [42]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [43]:
import os
from tqdm import tqdm
import pandas as pd
from linking import link
import json

directory = "..\\data_2018_2023"

posts = pd.read_csv(os.path.join(directory, "posts.csv"))
comments = pd.read_csv(os.path.join(directory, "comments.csv"))

In [48]:
from entity_extraction import EntityExtractor
entity_extractor = EntityExtractor()

# get the first entity in each post/comment from the entity extractor
posts["entity"] = entity_extractor.batch_extract(posts["title_text_combined"],first_only=True,stats_enabled=True)
comments["entity"] = entity_extractor.batch_extract(comments["body"].astype(str),first_only=True,stats_enabled=True)

Posts with multiple entities:  707
Total posts with entities:  3183
Percent of posts with multiple entities:  22.211749921457745

Posts with multiple entities:  3269
Total posts with entities:  10377
Percent of posts with multiple entities:  31.502360990652406

In [45]:

post_ids = posts[["idstr","entity"]].values
comment_ids = comments[["parent","idstr","entity"]].values

linking = link(post_ids,comment_ids) # create dictionary with comment structure
json_file = open("linking.json", "w")
json.dump(linking, json_file, indent=4)

comments["entity"] = comment_ids[:,2] # replace entities with the linked entities
comments.head()

,idstr,created,parent,submission,body,score,entity
0,t1_e57ddqc,2018-09-01 09:40:47,t1_e55e71k,t3_9bmgmx,this is maybe true but I'll still take a smell...,1.0,NONE
1,t1_e57gijd,2018-09-01 11:34:08,t3_9c2dxp,t3_9c2dxp,"It's not a big deal, just be respectful about ...",56.0,NONE
2,t1_e57ih7p,2018-09-01 12:28:47,t3_9c2dxp,t3_9c2dxp,They also record 280 lectures online so you ca...,17.0,NONE
3,t1_e57khfz,2018-09-01 13:13:55,t3_9c2dxp,t3_9c2dxp,"No, the principal will find out and put it on ...",90.0,NONE
4,t1_e57kio1,2018-09-01 13:14:36,t3_9c2dxp,t3_9c2dxp,May also want to let your prof know that you w...,12.0,NONE